body{
    background-color:white;
}
h1{
    font-family: 'Gluten';
    color:black;
}
p{
    font-family:'Quicksand';
    color:black;
}
.logo{
    width:5%;
    height: 5%;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}