body {
    font-family: Helvetica;
    background: rgb(233, 199, 128)
}
h1 {
    font-size: 30px;
}
img {
    max-width: 100%;
    display:block;
    height: auto;
    margin-bottom: 1.5em;
}
.index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}